<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="exit-menu" label="Exit">
  <item label="Restart">
    <action name="Restart" />
  </item>
  <item label="Logout">
    <action name="Exit" />
  </item>
  <item label="Reboot">
    <action name="Execute">
      <prompt>Are you sure you want to reboot the system?</prompt>
      <command>sh -c 'systemctl reboot || sudo -A reboot'</command>
    </action>
  </item>
  <item label="PowerOff">
    <action name="Execute">
      <prompt>Are you sure you want to power off the system?</prompt>
      <command>sh -c 'systemctl poweroff || sudo -A halt -p'</command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <item label="URxvt">
    <action name="Execute"><execute>urxvtc</execute></action>
  </item>
  <item label="Firefox">
    <action name="Execute"><execute>firefox</execute></action>
  </item>
  <!-- This requires the presence of the 'menu' package to work -->
  <menu id="/Debian" />
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <separator />
  <menu id="exit-menu"/>
</menu>

</openbox_menu>
